.rap-detail {
    color: black;
    font-size: $textMd;
    background-color: #fff;
}

.detail-theater {
    p {
        font-size: 14px !important;
    }
}

.img-Rap {
    max-width: 180px !important;
    height: 300px !important;
}