.card-item-detail {
  position: relative;
  width: 100%;

  img {
    position: relative;
    width: 300px;
  }

  .card-content-detail {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    top: 0%;
    height: 100%;

    .btn-trailer-detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;

      i {
        font-size: 60px;
        color: $mainColor;
        opacity: 1;

        &:hover {
          font-size: 70px;
        }
      }
    }
  }
}

.custom-detail {
  padding: 10px 25px;
  color: white;
  // background-color: $secondaryColor;
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: $textBase;
}
