.leading-normal.active {
    background-color: $mainColor !important;
}

.nav-detail {
    color: #fff;
    font-size: $textMd;
}

.detail-theater {
    p {
        font-size: 14px !important;
    }
}

.img-Rap {
    max-width: 180px !important;
    height: 300px !important;
}