@import "./_AdminDashBoard.scss";
@import "./_AdminFilm.scss";
@import "./_AdminShowTime.scss";
@import "./_AdminAddFilm.scss";
@import "./_AdminEditFilm.scss";
@import "./_AdminAddUser.scss";
@import "./_AdminEditUser.scss";

.menu-content {
    font-size: 18px;
}

.header-admin {
    font-size: 18px !important;
    .userLoin {
        padding-left: 20px;
        background-color: rgb(0, 33, 95);
        border: 1px solid rgb(0, 89, 255);
        border-radius: 200px 200px;
        button{
            i {
                color: rgb(201, 201, 201);
            }
        }
        button:hover {
            i {
                color: rgb(0, 255, 191);
            }
        }
    }
}

.ant-layout-header {
    height: 96px !important;
}

.ant-layout-content {
    padding: 48px !important;
}

.admin-layout {
    position: relative;

    .admin-layout-content {
        position: absolute;
        top: -84px;
        width: 100%;

        h3 {
            color: white;
            font-size: 25px;
            display: inline-block;
            background-color: rgb(255, 0, 76);
            padding: 20px 100px;
            border: 1px solid rgb(255, 0, 76);
            border-radius: 200px 200px;
            box-shadow: 0px 0px 5px 0px black;
        }
    }
}

@media screen and (max-width: 1280px) {
    .header-admin {
        padding: 0 20px !important;
    }

    .userLoin {
        margin-right: 0 !important;
    }
    .ant-layout-content {
        padding: 48px 0px!important;
    }
    .admin-layout {
        .admin-layout-content {
            h3 {
                padding: 20px 10px;
            }
        }
    }
}
