a:hover {
  color: $mainColor;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: -10;
}

.icon-list {
  padding: 1;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 25px;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: $social-icon1;
}

.icon-item:nth-child(2) a:hover:before {
  background: $social-icon2;
}

.icon-item:nth-child(3) a:hover:before {
  background: $social-icon3;
}

.icon-item:nth-child(4) a:hover:before {
  background: $social-icon4;
}