@import "./_Header.scss";
@import "./_HomeCarousel";
@import "./_HomeService.scss";
@import "./_HomeTheater.scss";
@import "./_Footer.scss";

#home {
  transition: 0.2s linear;
}
#home.dark {
  background: #0d1117;
  h1,
  h2,
  h3 {
    color: white;
  }
  p {
    color: white;
  }
  .anticon {
    color: white !important;
  }
  .ant-tabs-tab {
    color: white;
  }
}
