.ant-tabs-ink-bar {
  position: absolute;
  background: #ef4444;
  pointer-events: none;
}

.ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  width: 100%;
}
// .ant-tabs{
//   &-nav{
//     &-wrap{
//       justify-content: center;
//     }
//   }
// }

// .ant-tabs-nav-list{
//     width: 400px;
// }
